.home-page {
    background-color: #e1e1e1;
    padding-bottom: 20px;
    .banner {
        width: 1300px;
        margin: 0 auto;
        margin-top: 20px;
        overflow: hidden;
        img {
            width: 100%;
        }
        &:hover {
            img {
                transition: 0.3s all ease-out;
                scale: 1.05;
            }
        }
    }
}
