.product-container {
    background-color: white;
}

.product-page {
    padding: 50px 100px;

    .title {
        font-size: 20px;
        color: var(--text-color);
        font-weight: 600;
        border-bottom: 2px solid var(--text-color);
        margin-bottom: 40px;
    }
}

@media (max-width: 1024px) {
    .product-container {
        .product-page {
            padding: 50px;
        }
    }
}